canvas {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center {
    text-align: center;
}

#lm {
    font-size: 2vw;
    text-align: center;
}

#lever {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 10vw;
    transform: scaleY(-1);
    top: 20px;
}

#ver1 {
    width: 15vw;
    font-size: 3vw;
    border: 1px solid black;
    background-color: aqua;
    margin: 2vw;
}

#ver2 {
    width: 15vw;
    font-size: 3vw;
    border: 1px solid black;
    background-color: aqua;
    margin: 2vw;
}

#ver3 {
    width: 15vw;
    font-size: 3vw;
    border: 1px solid black;
    background-color: aqua;
    margin: 2vw;
}